<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>

  <ul>
    <li>
        <a href='/v1/new-location'>add new location</a>
    </li>

    <li>
        <a href='/v1/scan-location'>TEST: scan location</a>
    </li>
    <li>
        <a href='/v1/list-location'>list all location</a>
    </li>
    <li>
      <a href='/v1/new-item'>add new item</a>
</li>
    <li>
      <a href='/v1/sign-up'>sign up</a>
</li>
    <li>
      <a href='/v1/sign-in'>sign in</a>
    </li>
    <li>
      <a href='/v1/sign-off'>sign off</a>
    </li>
    <li>
      <a href='/v1/move-from'>move from</a>
</li>
    <li>
      <a href='/v1/move-to'>move to</a>
</li>
    <li>
      <a href='/v1/update-item-info'>update item info</a>
      </li>
  </ul>

</body>
</html>
